body {
    margin: 0;
    line-height: normal;
    background-color: #ffffff;
}

p {
    color: black;
}

/* Tous les boutons sont sur fond bleu */
button p {
    color: white;
}

:root {
    /* fonts */
    --font-inter: Inter;

    /* Colors */
    --color-royalblue: #2e6de7;
    --color-white: #fff;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #131f24;
    }

    p {
        color: white;
    }
}