.question {
  background-color: #131f24;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.question .div {
  background-color: #131f24;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question .left_side {
  position: relative;
  left: 20px;
  top: 20px;
  width: 320px;
}

.question .lifes {
  width: fit-content;
}

.question .overlap-group {
  padding: 10px;
  height: fit-content;
  background-color: #2e6ce6;
  border-radius: 25px;
  box-shadow: 0px 5px 4px #15336e;
  display: flex;
  flex-direction: row;
}

.question .success-bar {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 4px #424242;
}

.question .success-bar-bg {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.question .success-bar-over {
  width: 50%;
  height: 30px;
  background-color: #6BD844;
  border-radius: 8px;
  transition: width 0.5s ease-in-out;
}

.question .coeur {
  width: 109px;
  object-fit: cover;
}

.question .img {
  width: 109px;
  object-fit: cover;
}

.question .coeur-2 {
  width: 109px;
  object-fit: cover;
}

.question .frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: fit-content;
  width: 50%;
}

.question .overlap {
  width: 100%;
  min-height: 400px;
  background-color: #2e6ce6;
  border-radius: 69px;
  box-shadow: 0px 10px 4px #15336e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question .overlap .life_point {
  width: 50px;
  height: 50px;
}

.question .text-wrapper {
  width: 100%;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.question .quit {
  width: 320px;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.question .overlap-2 {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2e6de7;
  border-radius: 50px;
  box-shadow: 0px 5px 4px #15336e;
}

.question .overlap-2:hover {
  background-color: #2960ce;
  border-radius: 50px;
  box-shadow: 0px 5px 4px #15336e;
  cursor: pointer;
}

.question .rectangle {
  transform: rotate(-45deg);
  width: 10px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  left: 5px;
}

.question .rectangle-2 {
  transform: rotate(45deg);
  width: 10px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  right: 5px;
}

.question .boutons-reponse {
  width: 100%;
  min-height: 300;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.question .boutons-reponse .bouton-droite {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.question .boutons-reponse .bouton-droite .overlap-group-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}

.question .boutons-reponse .bouton-bas {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.question .boutons-reponse .bouton-bas .overlap-group-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.question .overlap-group-2 {
  height: 100px;
  border-radius: 20px;
  box-shadow: 0px 5px 4px #15336e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question .boutons-reponse .bouton-haut {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.question .boutons-reponse .bouton-haut .overlap-group-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.question .boutons-reponse .bouton-gauche {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.question .boutons-reponse .bouton-gauche .overlap-group-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.question .text-wrapper-button {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 100%;
}

.question .text-wrapper-button p {
  text-wrap: wrap;
}

.question .bouton-choix {
  background-color: #2e6ce6;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 100px;
  margin-bottom: 10px;
}

.question .bouton-choix:hover {
  background-color: #2451ac;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
}

@media screen and (max-width: 1650px) {
  .question .overlap {
    min-height: 300px;
    width: 80%;
  }

  .question .text-wrapper {
    width: 100%;
    font-size: 30px;
  }

  .question .boutons-reponse {
    width: 80%;
    min-height: 300;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1250px) {
  .question .overlap {
    min-height: 300px;
    width: 70%;
  }

  .question .text-wrapper {
    width: 100%;
    font-size: 25px;
  }

  .question .boutons-reponse {
    width: 80%;
    min-height: 300;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .question .boutons-reponse .text-wrapper-button {
    font-size: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .question .div {
    display: flex;
    flex-direction: column;
  }

  .question .left_side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    top: 20px;
    left: 0;
  }

  .question .left_side .success-bar {
    width: 320px;
  }

  .question .frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .question .frame .overlap {
    height: 200px;
    min-height: 0;
    border-radius: 30px;
  }

  .question .quit {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .question .overlap {
    width: 100% !important;
    min-width: 0;
  }
}

.text-wrapper-button p {
  font-size: 1em;
  justify-content: center;

}