body {
  margin: 0;
  line-height: normal;
  background-color: #ffffff;
}

p {
  color: black;
}

/* Tous les boutons sont sur fond bleu */
button p {
  color: white;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* Colors */
  --color-royalblue: #2e6de7;
  --color-white: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #131f24;
  }
  p {
    color: white;
  }
}