body {
  background-color: #131f24;
}

.accueil {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  grid-row: 1/2;
  grid-column: 1;
}

.logo p {
  justify-content: center;
  align-content: center;
}

.bouton-droite {
  grid-column: 1/2;
  grid-row: 2/2;
  margin: 0 auto 0 auto;
}

.image-peroquet {
  vertical-align: middle;
  width: auto;
  height: 10vw;
}

.start_game {
  position: relative;
  width: 600px;
  height: 100px;
  background-color: #2e6ce6;
  border-radius: 20px;
  border-color: white;
  box-shadow: 0px 5px 4px #15336e;
}

.accueil .fleche-droite {
  vertical-align: middle;
  height: 1em;
  padding-left: 0.3em;
}

p {
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 10vw;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  color: #ffffff;
}

.accueil .text-wrapper {
  font-size: 4em;
  margin: 0;
}

.text-wrapper-bleu {
  color: #2e6de7;
}


/* ANIMATION LOGO */

#path76,
#path79 {
  animation: side-to-side 1s infinite alternate;
}

#path80,
#path77,
#g3 {
  animation: up-down 1.3s infinite alternate;
}

@keyframes side-to-side {
  from {
    transform: translateX(-0.65%);
  }

  to {
    transform: translateX(0.65%);
  }
}

@keyframes up-down {
  from {
    transform: translateY(-0.65px);
  }

  to {
    transform: translateY(0.65px);
  }
}