.accueil {
  background-color: #131f24;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.accueil .div {
  background-color: #131f24;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.accueil .bouton-droite {
  position: absolute;
  width: 602px;
  height: 100px;
  top: 763px;
  left: 654px;
}

.accueil .overlap-group {
  position: relative;
  width: 600px;
  height: 100px;
  background-color: #2e6ce6;
  border-radius: 20px;
  box-shadow: 0px 5px 4px #15336e;
}

.accueil .fleche-droite {
  position: absolute;
  width: 46px;
  height: 74px;
  top: 13px;
  left: 543px;
}

.accueil .text-wrapper {
  position: absolute;
  width: 386px;
  height: 242px;
  top: 23px;
  left: 107px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px; 
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.image-peroquet{
  left: 120px;
  width: 170px;
  height: 170px;
}

.accueil .text-wrapper-blanc {
  position: absolute;
  width: 386px;
  height: 242px;
  top: 23px;
  left: -10px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 200px; 
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.accueil .text-wrapper-bleu {
  width: 200px;
  height: 220px;
  top: 23px;
  left: 120px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #2e6de7;
  font-size: 200px; 
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.accueil .logo {
  position: absolute;
  width: 1232px;
  height: 265px;
  top: 408px;
  left: 344px;
}

.accueil .overlap {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1230px;
  height: 265px;
}

/*
.accueil .COL-NGO {
  position: absolute;
  height: 242px;
  top: 23px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 200px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}*/

.accueil .rectangle {
  position: absolute;
  width: 200px;
  height: 244px;
  top: 0;
  left: 562px;
  object-fit: cover;
}
